@using Raven.AsyncTemplates.Extensions
@{ 
    var listPath = AngularHelpers.PathForPart(Model, Model.Name ?? "items");
}

<ul ng-class="@listPath.classes">
    <li ng-repeat="item in @listPath.items" ng-class="@listPath.itemClasses"></li>
</ul>