@using Orchard.Utility.Extensions;
@{

    string name = Model.ContentField.DisplayName;
    string urlPath = AngularHelpers.PathForField(Model, "Url");
    string textPath = AngularHelpers.PathForField(Model, "Text");
    string targetPath = AngularHelpers.PathForField(Model, "Target");
}
<p class="link-field link-field-@name.HtmlClassify()" ng-if="@urlPath">
    <span class="name">@name:</span>
    <span class="value"><a ng-href="{{@urlPath}}" ng-bind="@textPath" target="{{@targetPath}}" ></a></span>
</p>
