@using Orchard.Utility.Extensions
@{
    string path = AngularHelpers.PathForField(Model, "Value");
    string name = Model.ContentField.DisplayName;
}

<p class="numeric-field numeric-field-@name.HtmlClassify()" ng-if="@path">
    <span class="name">@name:</span>
    <span class="value" ng-bind="@path"></span>
</p>
