@using Raven.AsyncTemplates.Extensions
@{ 
    string partName = Model.ContentPart.PartDefinition.Name;
    partName = partName.DropFirst();
    var listPath = string.Format("model.{0}", partName);
}

<ul ng-class="@(listPath).classes">
    <li ng-repeat="item in @(listPath).items" ng-class="@(listPath).itemClasses">
        <div><div rv-content-item @*content-item-id="{{item.metadata.id}}" display-type="Detail" resource-url="{{item.metadata.resourceUrl}}"*@ content-item="item"></div></div>
    </li>
</ul>