@using Orchard.Utility.Extensions;
@{

    string name = Model.ContentField.DisplayName;
}

<section class="media-library-picker-field media-library-picker-field-@name.HtmlClassify()">
    <h3>@name</h3>
    <div ng-repeat="img in @AngularHelpers.PathForField(Model)"><img ng-src="{{img.url}}" /></div>
</section>

