@{ 
    string partName = Model.ContentPart.PartDefinition.Name;
    partName = partName.DropFirst();
    var listPath = AngularHelpers.PathForPart(Model, "Items");
    var listClassesPath = AngularHelpers.PathForPart(Model, "ItemClasses");
    var itemClassesPath = AngularHelpers.PathForPart(Model, "ItemClasses");
}

<ul ng-class="@listClassesPath">
    <li ng-repeat="item in @listPath" ng-class="@itemClassesPath">
        <div><div rv-content-item  content-item="item"></div></div>
    </li>
</ul>