@using Orchard.Utility.Extensions;
@{
    string name = Model.ContentField.DisplayName;
}
<p class="taxonomy-field" ng-if="@(AngularHelpers.PathForField(Model, "Value")).length > 0">
    <span class="name">@name.CamelFriendly():</span> 
    <ul>
        <li ng-repeat="term in @AngularHelpers.PathForField(Model)"><a ng-click="navigate(term.resourceUrl)" ng-bind="term.name"></a></li>
    </ul>
</p>