@{

    string name = Model.ContentField.DisplayName;
    string path = AngularHelpers.PathForField(Model, "Value");
}
<p class="text-field" ng-if="@path"><span class="name">@name:</span> <span class="value" ng-bind="@path"></span></p>
